<div>
    <a href="/{{wallet.w_Id}}" style="margin-right: 20px; margin-bottom: 30px" class="btn btn-outline-success">
        BACK TO HOME
    </a>
    <h3>TRANSACTIONS HISTORY</h3>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Hash</th>
                <th>Transactions</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {{#each wallet.blockchains.blockchain}}
            <tr>
                <td scope="row">{{index}}</td>
                {{!-- <td>{{hash}}</td> --}}
                <td>
                    <a href="/{{../wallet.w_Id}}/transactions/{{index}}" style="margin-right: 20px; margin-bottom: 10px" class="btn btn-outline-success">
                        {{hash}}
                    </a>
                </td>
                <td>{{data.length}}</td>
                <td>{{timestamp}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>